
header ul {
    display: flex;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-left: 20rem;
    list-style: none;

}

header ul li{
    padding: 30px;
    justify-content: space-around;
    text-decoration: none;
    text-align: center; 
   /*  flex-wrap: wrap;  */
}
#inputForm{
    border: 3px solid;
    align-items: center;
    border-radius: 2px;
    border-color: black solid;
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: inline-block;
    text-align: center;
    position: absolute;   
    top: 20%;
    left:30%;
}
