
header ul {
    display: flex;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-left: 20rem;
    list-style: none;

}

header ul li{
    padding: 30px;
    justify-content: space-around;
    text-decoration: none;
    text-align: center; 
   /*  flex-wrap: wrap;  */
}